body{
            
    background-color: lightgray
}
.item a{
    
    color: white;
    text-decoration: none;
    margin: 0 20px;
    
  
}
section{
    background-color: orange;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
}
.item a:hover{
    background-color: gray;
    color: black;
    padding: 15px;
    
}
.good p{
    text-align: center;
   font-weight: bold;
   font-size: 250%;
   color: chocolate;
}

.nav p{
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    text-align: center;
}

 
.nav .img{

margin: 0 270px;
padding: 0 270px;
height: 500px;
width: 500px;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



}
@media (max-width:760px){
    .item{
        width: 50%;
    }
}
@media (max-width: 460px){
    .item{
        width: 100%;
    }
}